h1 {
    font-size: 50px;
    color:red;
}
h2 {
    font-size: 30px;
}

.yard, .park {
    font-size: 30px;
    background-color: green;
    padding: 25px;
    margin: 25px;
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 50px;

    border-width: 5px;
    border-color: red;
    border-style: solid;
}

.house {
    font-size: 30px;
}

.grass1 {
    font-size: 30px;
}

#matt-yard {
    font-size: 30px;
}

#zach-yard {
    font-size: 80px;
}

.park span{
    background-color: white;
    color: black;
}

.park span .bathroom {
    background-color: aquamarine;

}

.button {
    background-color: rgb(3, 137, 48);
    border-bottom-color: rgb(3, 137, 48);
    border-radius: 50px;
    font-size: 16px;
    color: white;
    text-align: center;
    width: 400px;
    font-weight: 700px;

    padding-top: 10px;
    padding-bottom: 10px;
}

.button:hover {
    background: black;
}

#junk-drawer {
    background: red;
}

table tr:nth-child(odd)  {
    background: lightgray;
}

img {
    min-width: 5px;
    min-height: 5px;
    border-radius: 100%;
}